# Lab 12: Data Analysis with Pandas

Video Game Statistics

from: https://www.kaggle.com/gregorut/videogamesales

Start with configuring pandas and numpy

In [34]:
import numpy as np
import pandas as pd

Read the videogame data file

In [35]:
vg_data = pd.read_csv('./vgsales.csv')
vg_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

1. Which company is the most common video game publisher?

In [36]:
publishers_frequency = vg_data[['Publisher']].mode()
top_publisher = publishers_frequency.iloc[0][0]
top_publisher

'Electronic Arts'

2. Whatâ€™s the most common platform?

In [37]:
platform_frequency_ranking = vg_data[['Platform']].mode()
top_platform = platform_frequency_ranking.iloc[0][0]
top_platform

'DS'

3. What about the most common genre?

In [38]:
genre_frequency_ranking = vg_data[['Genre']].mode()
top_genre = genre_frequency_ranking.iloc[0][0]
top_genre

'Action'

What are the top 20 highest grossing games?

In [39]:
global_profit_rank = vg_data[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False)
top_twenty_by_gross = global_profit_rank.head(20)
top_twenty_by_gross

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

5. For North American video game sales, whatâ€™s the median?

Provide a secondary output showing ten games surrounding the median sales output

assume that games with same median value are sorted in descending order

In [41]:
North_American_sales_median = vg_data[['Name','NA_Sales']].median()
show_median=North_American_sales_median.iloc[0]
show_median

all_games = vg_data[vg_data['NA_Sales'] ==0.08]
middle_index = len(all_games)//2
surround_median_games = all_games[middle_index-5:middle_index+5]
surround_median_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [48]:
top_seller = vg_data.head(1)
top_seller

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [56]:
mean_NA_Sales = vg_data['NA_Sales'].mean()
std_NA_Sales = vg_data['NA_Sales'].std()
std_between_top_and_mean = ( top_seller['NA_Sales'] - mean_NA_Sales ) // std_NA_Sales
std_between_top_and_mean[0]

50.0

The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?